.navbar {
  background-color: #ebebeb;
  height: 60px;
  position: sticky;
}
.top {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}
.searchBox {
  width: 100% !important;
  border: none;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
}
.section3 {
  display: flex;
  justify-content: flex-end;
}
.nav__center {
  display: flex;
  flex-direction: row;
}
.logout__button {
  display: none !important;
  margin-left: 5px;
  height: 40px;
}

@media only screen and (max-width: 600px) {
  .section1,
  .section3 {
    display: none;
  }
  .logout__button {
    display: inline !important;
  }
}
