.post {
  margin-top: 20px;
  border: 5px solid #ebebeb;
  border-radius: 10px;
  padding: 20px;
}
.post__top {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.icons {
  font-size: x-large;
  cursor: pointer;
}
.icon1 {
  margin-right: 20px;
}

.box {
  width: 100%;
  border: none;
  margin-bottom: 10px;
  outline: none;
  padding: 5px;
}

.post__bottom {
  display: flex;
  justify-content: flex-end;
}

.post__images {
  height: 100px;
  width: 150px;
  margin: 7px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.post__imageBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.image2 {
  margin-left: -10px;
  margin-top: -100px;
  cursor: pointer;
}
/* .t1,
.t3 {
  display: none;
} */

@media only screen and (max-width: 600px) {
  .t1,
  .t3 {
    display: none;
  }
  .post {
    margin: 15px;
  }
  .post__images {
    height: 100px;
    width: 100px;
  }
}
